<div data-magellan-destination="about" id="about">
	<div class="row">
		<h3>What we offer</h3>
		<p>Workout Mashup is a Private Personal Training service specializing in three specific disciplines:</p>
		<ul class="inline-list">
			<li>Developing core strength</li>
			<li>Relief from back pain</li>
			<li>Athletic strength training</li>
		</ul>
		<p>Our approach uses no impact resistance that has been leveraged to develop the greatest forces with the least possible resistance. You will find that not only does your strength increase, but also your general mobility and flexibility.</p>
		<h3>Who it's for</h3>
		<p>Anyone with a torso. I am going to continue on with legitimate examples, but just be aware, the real answer here is: Anyone whose upper extremities connect to their lower extremities via a central trunk will benefit from this fitness program.</p>
	</div>
</div>