<div data-magellan-destination="description" id="descript" class="text-center">
	<div class="row">
		<h3>We are designed...</h3>
		<div class="small-4 columns">
			<h3><i class="fa fa-user fa-size"></i></h3>
			<span>for you.</span>
		</div>
		<div class="small-4 columns">
			<h3><i class="fa fa-clock-o fa-size"></i></h3>
			<span>with you.</span>
		</div>
		<div class="small-4 columns">
			<h3><i class="fa fa-size fa-check-circle-o"></i></h3>
			<span>to work period.</span>
		</div>
	</div>
</div>