<div data-magellan-destination="home" id="home">
	<div class="row">
		<h2><strong>Workout Mashup <span class="brand-danger">is...</span></strong></h2>
		<p class="text-center">able to take a “Core First” approach to helping you become the best version of you by combining the concepts of science, gymnastics, and strength training.</p>
		<div class="text-center small-6 columns">
			<h4>Private Personal Training</h4>
		</div>
		<div class="text-center small-6 columns">
			<h4><strong>Open For Business.</strong></h4>
		</div>
	</div>
</div>