<div data-magellan-destination="social" id="social" class="text-center">
	<div class="row text-center">
		<h3>Social Links</h3>
		<div class="small-4 columns text-center">
			<h1><a href="http://twitter.com/workoutmashup" class=""><i class="fa fa-twitter-square fa-size brand-info"></i></a></h1>
		</div>
		<div class="small-4 columns text-center">
			<h1><a href="https://www.youtube.com/channel/UCuT3s4W-K6XIiNPzNwjx0_A" class=""><i class="fa fa-youtube-square fa-size brand-danger"></i></a></h1>
		</div>				
		<div class="small-4 columns text-center">
			<h1><a href="https://www.facebook.com/pages/Workout-Mashup/340726329418393" class=""><i class="fa fa-facebook-square fa-size brand-primary"></i></a></h1>
		</div>
	</div>
</div>