<div data-magellan-destination="videos" id="videos">
	<div class="row text-center">
		<h3>Some Videos</h3>
		<ul class="clearing-thumbs columns medium-block-grid-2 small-block-grid-1" data-clearing>
			<li><a href="http://img.youtube.com/vi/8fwle0ppIN8/maxresdefault.jpg" class="youtube"></a></li>
			<li><a href="http://img.youtube.com/vi/wM_WD1ujSjk/maxresdefault.jpg" class="youtube"></a></li>
			<li><a href="http://img.youtube.com/vi/VyxX2804oPI/maxresdefault.jpg" class="youtube"></a></li>
			<li><a href="http://img.youtube.com/vi/0Ocmvs8ylgU/maxresdefault.jpg" class="youtube"></a></li>
			<li><a href="http://img.youtube.com/vi/Iz4T7hblMrM/maxresdefault.jpg" class="youtube"></a></li>
		</ul>
	</div>
</div>