$font-stack:    Helvetica, sans-serif;
$background: #F7F7F7;
$primary-color: #222;
$coverHeight: 30rem;

$head: 6;

$alt-background: #222;
$alt-color: #F7F7F7;

/*colors*/
$c_primary: #428bca;
$c_info: #5bc0de;
$c_success: #5cb85c;
$c_warning: #f0ad4e;
$c_danger: #d9534f;

// fonts
$fa-size: 9rem;

$nav_row_height: 3rem;

// sections
$sections: 9;
$sec-padding: 2.5rem;

 // Foot
 $foot-size: 1rem;

 $trans: t1 t2 t3;