<section id="foot">
	<div class="row">
		<div class="medium-4 small-12 medium-offset-4 columns">
			<div class="row text-center">
				<div class="small-4 columns">
					<h3>Find us at:</h3>
					<a href="http://twitter.com/workoutmashup" class=""><i class="fa fa-twitter brand-info"></i></a>
					<a href="https://www.facebook.com/pages/Workout-Mashup/340726329418393" class=""><i class="fa fa-facebook brand-primary"></i></a>
				</div>
				<div class="small-4 columns">
					<h3 data-toggle="tooltip" data-placement="top" title="This awesome workout mix">Check out:</h3>
					<a href="https://soundcloud.com/workoutmashup"><i class="fa fa-soundcloud brand-warning"></i></a>
				</div>
				<div class="small-4 columns">
					<h3>Contact us:</h3>
					<address><a href="mailto:workoutmashup@gmail.com"><i class="fa fa-envelope brand-primary"></i></a></address>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns text-center">
			<p>Scott 'funnyjk' - Designed using Zurb's Foundation - work-in-progress</p>
		</div>
	</div>
</section>