<!-- <div id="sidebar" data-magellan-expedition="fixed">
	<dl class="sub-nav" data-tab>
		<dd data-magellan-arrival="home"><a ui-sref="main.home">Home</a></dd>
		<dd data-magellan-arrival="about"><a ui-sref="main.about">About</a></dd>
		<dd data-magellan-arrival="social"><a ui-sref="main.social">Social</a></dd>
		<dd data-magellan-arrival="contact"><a ui-sref="main.contact">Contact</a></dd>
	</dl>
</div> -->
<div id="sidebar" data-magellan-expedition="fixed">
	<dl class="sub-nav" data-tab>
		<dd data-magellan-arrival="home"><a href="#home">Home</a></dd>
		<dd data-magellan-arrival="about"><a href="#about">About</a></dd>
		<dd data-magellan-arrival="social"><a href="#social">Social</a></dd>
		<dd data-magellan-arrival="contact"><a href="#contact">Contact</a></dd>
		<dd data-magellan-arrival="videos"><a href="#videos">Videos</a></dd>
	</dl>
</div>